{% load jstemplate %}
{% load staticfiles %}
<!DOCTYPE html>
<html>


<link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'dist/css/Custom.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/mustache.js' %}"></script>
<script type="text/javascript">
  		Mustache.tags = ['[[', ']]'];


    	function get_account(barcode){

    		$.ajax({
				dataType: "json",
				url: "/account/" + barcode,
				data: {},
				envelope: {},

				success: function(res) {

					console.log(res);

					// Have all available data
					if ( res.status === 1 ) {

	                    account_data = res.data;

						console.log("found results")
						console.log(res.data);
						var template = $('#account-template').html();
						var html = Mustache.to_html(template,res.data);
						console.log(html);
						$('#dynamic-area').html(html);

                        // Added by Huandari to display on available account
                        var accountType = res.data.account[0].debit_credit;
                        if (accountType == "credit")
                        {
                            $('#creditSummaryRow').show();
                            $('#debitSummaryRow').hide();
                            $('#totalSummaryRow').show();
                        }
                        else if (accountType == "debit")
                        {
                            $('#creditSummaryRow').hide();
                            $('#debitSummaryRow').show();
                            $('#totalSummaryRow').show();
 
                        }

						// fill in the graph data
	                    //var ctx = $(".cpd_abundance").get(0).getContext("2d");
	                    //var cpd_chart = new Chart(ctx).Bar(graph_data);

					}


					// No data at all for that fraction
					else {
						var template = $('#no-results-template').html();
						console.log(template);
						var html = Mustache.to_html(template);
						console.log(html);
						$('#dynamic-area').html(html);
					}

				}

			});
		}

</script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Unchained Banking App</title>
</head>

<body>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-10"
            style="padding-left:0px;padding-top:10px;padding-bottom:10px;">
                <img 
                src="{% static 'dist/images/logo.jpg' %}"
                style = "height: 50px; width: 50px;"></img>
                <h3 style="display:inline;padding-left: 5px;">Django Unchained</h3>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-8 col-md-8 col-md-offset-2">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav nav-justified navbar-nav">
                        <li class="active"><a href="#">Summary</a></li>
                        <li><a href="#">Transactions</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
            </div>
    </div>

    <script id="account-template" type="text/template">
            [[#user]]
            <div class="row">
                <div class="col-sm-8 col-md-8 col-md-offset-2">
                    <h3>Welcome back, [[name]].</h3>
                    <br>
                    <h5>[[email]]</h5>
                    <h5>[[address]]</h5>
                    <br>
                    <h4>Here is your account summary:</h4>
                </div>
            </div>
            [[/user]]

            <br>

                [[#account]]
                <div class="col-sm-8 col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                    <table class="table table-striped">
                        <label id="testing" style="display:none;">[[debit_credit]]</label>
                        <thead>
                            <th>Accounts Summary</th>
                        </thead>
                        <tbody>
                            <tr id="creditSummaryRow" style="border-radius: 15px;">
                                <td>Summary of Credit account:</td>
                                <td><div id="creditSummary">$[[amount]]</span></td>
                            </tr>
                            <tr id="debitSummaryRow">
                                <td>Summary of Debit account:</td>
                                <td><div id="debitSummary">$[[amount]]</span></td>
                            </tr>
                            <tr id="totalSummaryRow">
                                <td>Total:</td>
                                <td><div id="totalSummary">$[[amount]]</div></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                [[/account]]

            </div>
    </script>
    <div id='dynamic-area' class='dynamic-area'></div>


   
</body>

<script>
    $(document).ready(function() {

    	var raw_barcode;
    	var path = document.location.pathname;

    	console.log("Checking for url " + path);

		if(path.match(/\/account/)) {
			console.log("found the account");
			account = path.match(/\/account(.*)/)[1];
			raw_barcode = account.split('/');
			raw_barcode = raw_barcode[1];

			console.log("User barcode: " + raw_barcode);
			get_account(raw_barcode);

		}


    });

</script>

</html>
